@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Thin.ttf") format("ttf");
}

.styled-text {
  font-family: "Montserrat";
  font-size: 2em;
  text-shadow: 2px 2px 2px #000000;
  background: linear-gradient(90deg, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 600px){
    .responsive-text{
        font-size: 16px;
    }
}

@media (min-width: 601px){
    .responsive-text{
        font-size: 20px;
    }
}