.box {
    height: 200px;
    width: 200px;
    color: white;
    background-color: darkslateblue;
    border: 2px solid black;
    transition: background-color 3s, color 3s;
}

.box:hover {
    background-color: aquamarine;
    border: 2px solid brown;
}

.circle {
    width: 200px;
    height: 200px;
    color: aliceblue;
    background-color: dodgerblue;
    border-radius: 50%;
    border: 2px solid black;
    transition: height 2s, width 2s;
}

.circle:hover {
    height: 300px;
    width: 300px;
}