ul{
    list-style-type: none;
    padding-left: 0px;
    counter-reset: initial;
    counter-increment: inherit;
}

ul li::before{
    content: "📖";
}

ol{
    list-style-type: none;
    padding-left: 0px;
    counter-reset: initial;
    counter-increment: inherit;
}

ol li::before{
    content: "🎷";
}