body{
    margin: 0%;
    height: 100%;
}

.magic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(C:\Users\om31d\OneDrive\Pictures\Luminar_Neo_Catalog\PreviewCache\1C\94\images.jpeg), linear-gradient(to right, purple, skyblue);
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: padding-box;
    background-origin: content-box;
    padding: 50px;
    border: 10px dashed darkorchid;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px darkorchid;
}